/* main.css */
:root {
	/* 색상 변수 정의 */
	--primary-color: #007bff;
	--secondary-color: #6c757d;
	--main-bg-dark: #1b1c1d;
	--main-bg-gray: rgb(61, 61, 61);
	--main-bg-lightGray: #ccc;
	--main-bg-lightGray-02: #f2f2f2;
	--main-bg-purple: #816bff;
	--main-bg-darkPurple: #6f5cdd;
	--main-bg-green: #28a745;
	--main-bg-darkGreen: #4ead63;
	--main-bg-red: #dc3545;
	--main-bg-darkRed: #af2b39;
	--main-bg-yellow: #ffc107;
	--main-bg-blue: #007bff;
	--main-bg-orange: #fd7e14;
	--main-bg-cyan: #17a2b8;
	--main-bg-darkCyan: #178899;
	--main-bg-violet: #b223dd;
	--main-bg-darkViolet: #9121b3;
	--main-bg-white: #ffffff;

	/* 폰트 사이즈 변수 정의 */
	--font-size-normal: 16px;
	--font-size-large: 24px;

	/* 기타 */
	--padding-standard: 1rem;
}

.color_challenger {
	background: linear-gradient(to right, #f4e07d, #9fe8fa);
	color: white;
}
.color_diamond {
	background: linear-gradient(to right, #b0d0d3, #88a2d3);
	color: white;
}
.color_platinum {
	background: linear-gradient(to right, #42A89E, #f2f2f2);
	color: white;
}
.color_gold {
	background: linear-gradient(to right, #f4e07d, #e9fbff);
	color: white;
}
.color_silver {
	background: linear-gradient(to right, #d3d3d3, #b3b3b3);
	color: white;
}
.color_bronze {
	background: linear-gradient(to right, #cd7f32, #b3b3b3);
	color: white;
}
.color_iron {
	background: linear-gradient(to right, #43464b, #b3b3b3);
	color: white;
}

html {
	font-size: 10px;
}

@font-face {
	font-family: 'ChosunCentennial';
	src: url('/ChosunCentennial_ttf.ttf') format('truetype');
  }

button,
span,
input,
p,
a,
div, textarea, label {
	font-family: 'Pretendard', sans-serif;
}

span {
	font-size: 1.5rem;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 2rem;
	text-align: center;
}

th {
	font-size: 1.6rem;
	background-color: var(--main-bg-lightGray-02);
}

tr {
	font-size: 1.4rem;
	border-bottom: 1px solid var(--main-bg-lightGray-02);
}

.wrap {
	width: 100%;
}


/* 스크롤바 전체 스타일 */
textarea::-webkit-scrollbar {
    width: 6px; /* 스크롤바의 너비 */
    height: 6px; /* 스크롤바의 높이 (가로 스크롤일 경우) */
}

/* 스크롤바 트랙 (바탕) 스타일 */
textarea::-webkit-scrollbar-track {
	background: #f1f1f1; /* 스크롤바 트랙의 배경색 */
}

/* 스크롤바 핸들 (움직이는 부분) 스타일 */
textarea::-webkit-scrollbar-thumb {
	background: #888; /* 스크롤바 핸들의 색상 */
}

/* 스크롤바 핸들을 호버할 때 스타일 */
textarea::-webkit-scrollbar-thumb:hover {
	background: #555; /* 호버 시 핸들의 색상 */
}

.swal2-popup {
	font-size: 1.5rem !important; /* 폰트 크기 조정 */
	width: auto !important; /* 너비 자동 조정 */
	padding: 1.5rem !important; /* 패딩 조정 */
}

.swal2-title {
	font-size: 2rem !important; /* 타이틀 폰트 크기 조정 */
}

.swal2-content {
	font-size: 1.5rem !important; /* 내용 폰트 크기 조정 */
}

.swal2-styled.swal2-confirm {
	padding: 0.5rem 1rem !important; /* 확인 버튼 패딩 조정 */
	font-size: 1.5rem !important; /* 확인 버튼 폰트 크기 조정 */
}

.swal2-styled.swal2-cancel {
	padding: 0.375rem 0.75rem !important; /* 취소 버튼 패딩 조정 */
	font-size: 1.5rem !important; /* 취소 버튼 폰트 크기 조정 */
}

.light-pagination-nav .pagination-nav {
    box-shadow: none !important;
}

/* 모바일 기기용 SweetAlert2 스타일 조정 */
@media (max-width: 768px) {
	.swal2-popup {
		font-size: 1.5rem !important; /* 폰트 크기 조정 */
		width: auto !important; /* 너비 자동 조정 */
		padding: 1.5rem !important; /* 패딩 조정 */
	}

	.swal2-title {
		font-size: 1.5rem !important; /* 타이틀 폰트 크기 조정 */
	}

	.swal2-content {
		font-size: 1.5rem !important; /* 내용 폰트 크기 조정 */
	}

	.swal2-styled.swal2-confirm {
		padding: 0.5rem 1rem !important; /* 확인 버튼 패딩 조정 */
		font-size: 1.2rem !important; /* 확인 버튼 폰트 크기 조정 */
	}

	.swal2-styled.swal2-cancel {
		padding: 0.375rem 0.75rem !important; /* 취소 버튼 패딩 조정 */
		font-size: 1.2rem !important; /* 취소 버튼 폰트 크기 조정 */
	}
	.table_box {
		overflow-x: scroll;
	}
	th {
		font-size: 1rem; /* 모바일 화면에서 테이블 헤더의 폰트 크기 조정 */
		white-space: nowrap; /* 텍스트가 일자로 가로 정렬되도록 설정 */
	}
	td {
		white-space: nowrap;
		padding: 1rem; /* 모바일 화면에서 셀의 패딩 줄임 */
		font-size: 1rem; /* 모바일 화면에서 폰트 크기 줄임 */
	}
	td button {
		font-size: 0.9rem;
		padding: 0.5rem 1rem;
	}
}